*{
	box-sizing: border-box;
	margin: 0;
}

body{

	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}

header{
	background-color: #0c4b20;
	width: 100%;
	height: 5em;
	color: #FFF;
	padding: 1em;
}

header h1{
	font-size: 2.5em;
	vertical-align:	middle;
}
header h2{
	font-size: 3em;
	
}

header .container:before{
	content: '';
	height: 100%;
	vertical-align:	middle;
}

.container{

	display: flex;
	flex-direction: column;
	width: 60%;
	height: 100%;
	margin: 20px auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 2.5em;
	padding-bottom: .2em;
	border-bottom: 2px dotted rgb(10, 78, 20);
	margin-bottom: .5em;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {

	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
	vertical-align: middle;
}

th{
	font-weight: bold;
	background-color: #EEE;
	transition: 0.2s ease;
}

th:hover {
	background-color: #0c4b20;
	color: white;
	cursor: pointer;
}

.botao-excluir {

	padding: 10px 10px;
	background-color: rgb(7, 111, 36);
	color: #FFF;
	border-radius: 8px;
	border: none;	
	cursor: pointer;
	transition: 0.2s ease;
}

.botao-excluir:hover {
	
	transform: translateX(5px);
}

label{
	color: #000000;
	width: 10%;
	font-size: 16px;
	margin-right: 10px;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	color: #000000;
}

.campo:focus {

	outline-color: #034412;
}



#form-adiciona-paciente {

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
	row-gap: 20px;
	align-items: center;
	box-sizing: border-box;
}

.grupo {

	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	color: #000000;
}

.bto-principal{
	
	padding: 10px;
	border: 0;
	border-bottom: 3px solid;
	border-radius: 10px;
	font-size: 15px;
	cursor: pointer;
	margin: 0;
	color: #fff;
	background-color: rgb(7, 111, 36);
	border-color: #034412;
    clear: both;
    margin: 10px 0px;
	width: 60%;
	transition: 1s;
	
}

.bto-principal:hover {

	background: #034412;
}

.bto-principal:active{
	margin-top:0px;
	border: 0;
}

.bto-principal[disabled=disabled], .bto-principal:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}

.paciente-invalido {

	background-color: lightcoral;
	font-weight: bold;
}

#mensagens-erro {

	color: red;
}

.filtrar-tabela {

	display: flex;
	margin-bottom: 30px;
	width: 50%;
	align-items: center;

}

#filtrar-tabela {

	margin-left: 10px;
	padding: .7em;
}

.fade-out {

	opacity: 0;
	transition: 0.5s;
}

.remove-paciente {

	display: none;
}

#form-remover-paciente {

	display: flex;
	align-items: center;
	width: 100%;
}

#input-remover-paciente {

	width: 100%;
	padding: .7em;	
}

#remover-paciente {

	margin-left: 10px;
	background: red;
	border-bottom: 3px solid;
	border-color: #560101;
	transition: 1s;
}

#remover-paciente:hover {

	background: #750505;
}


